<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteRule ^system/(.*)$ index.php [L]
    RewriteRule ^app/(.*)$ index.php [L]

    RewriteRule ^(.*)$ /public/$1 [L]
    RewriteRule ^((?!public/).*) /public/$l [L,NC]

    # Send Requests To Front Controller...
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^ index.php [L]
</IfModule>